/* ============================
    Custom styling resets 
============================ */
ul {
    padding-left: 0;  
}
body {
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
figure {
    margin: 0;
}

/* ============================
    Mobile-1st base CSS 
============================ */

/* General styling */
* {
    box-sizing: border-box;
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 400;
    color: rgba(26, 26, 26, 0.76);
}
body {
    text-align: center;
    min-width: 320px; 
}
h1 {
    margin: 0 auto 2rem;
    padding-top: 1rem;
    font-weight: bolder;
}
h1,
h2,
h3,
h4 {
    text-transform: capitalize;
}
nav {
    padding: 1rem;
    background-color: antiquewhite;
}

/* Header styling */
#top {
    font-weight: 900;
    color: rgb(114, 101, 101);
}
.top-nav-list-item {
    margin: 1rem .5rem;
}
.top-nav-link {
    display: block;
    background-color: white;
    color: inherit;
    text-transform: uppercase;
    font-weight: 900;
}
.top-nav ul {
    background-color: bisque;
}
.top-nav-link,
.top-nav ul {
    padding: 1rem;
}

/* Main styling */
figcaption h3,
.boxes h3{
    font-weight: 600;
}
.main-sections {
    padding: 0 2rem;
}
.about-picture {
    max-width: calc(100% - 1rem);
    padding: 2rem 0;
}
.about-caption {
    margin: 0 .5rem;
    padding-right: 1rem;
}

.boxes img {
    max-width: 100%;
    margin: auto;
}
.boxes {
    margin: 0 .5rem 2rem;
}
.cert:hover,
.cert:active,
.college-logo:hover,
.college-logo:active {
    text-decoration: inherit;
    transform: scale(1.1);
    transition: 0.3s;
    color: inherit;
}
.college-logo {
    width: 300px;
}
.college, 
#edu, 
#certifications {
    text-decoration: underline;
}
.education p {
    font-family: 'Hind Madurai', Verdana;
    font-size: medium;
}
.education h4,
.cert-list,
#certifications {
    font-weight: 500;
    padding-top: 2rem;
}
#portfolio, #credentials {
    padding: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: medium;
}

/* Footer styling */
footer {
    background-color: antiquewhite;
    padding: .5rem;
}
.contact-section {
    padding: 1rem 0;
}
.contact-section h2 {
    font-size: large;
}
.bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;
    padding: 2rem 1rem;
    border-top: 1px dotted rgba(70, 68, 68, .1);
    background-color: bisque;
}
.bottom-nav h2 {
    text-transform: none;
}
.contact-section h2,
.bottom-nav h2 {
    font-weight: 900;
}
.bottom-nav h2, .bottom-nav ul {
    margin: 0;
    font-size: medium;
}
.contact-phone, .contact-email {
    text-transform: capitalize;
}
.contact-details {
    text-transform: none;
    font-weight: 600;
}
.mobile-bottom-nav-link {
    font-weight: 900;
}
.mobile-bottom-nav-link,
.contact-section h2 {
    text-transform: uppercase;
}
.non-mobile-nav-link {
    display: none;
}
/* ============================
    Media Queries
============================ */

/*  Tablet Screens   */
@media screen and (min-width: 768px) {

    /*  Header styles */
    h1, nav, ul {
        margin: 0;
    }
    li {
        display: inline-block;
    }
    .top-nav {
        padding: 0;
    }
    .top-nav-link {
        background-color: inherit;
    }
    .top-nav ul {
        padding: 0;
    }
    #top {
        padding-top: 2rem;
    }
    
    /*  Main styles */
    .about {
        padding: 0 1rem;
        background-color: antiquewhite;
    }
    .about figure {
        display: flex;
        flex-direction: row-reverse;
        padding: 1rem .5rem 3rem;
        text-align: start;
        font-family: 'Hind Modurai';
        font-size: large;
    }
    .about-picture {
        max-width: calc(50% - 1rem);
        padding: 0;
    }
    .portfolio-figures, .certs {
        display: flex;
        flex-wrap: wrap;
    }
    .boxes {
        flex-basis: calc(50% - 1rem)
    }
    .cert {
        align-self: baseline;
    }
    
    /*  Footer styles  */
    #contact p {
        margin: 2rem 10rem;
    }
    .bottom-nav h2 {
        flex-grow: 1;
        text-align: left;
    }
    .bottom-nav ul {
        display: flex;
        flex-grow: .5;
        text-transform: uppercase;
    }
    .bottom-nav,
    .bottom-nav ul {
        justify-content: space-between;
    }
    .bottom-nav ul li{
        display: block;
    }
    .non-mobile-nav-link {
        display: inline-block;
        font-weight: 900;
    }
    .mobile-bottom-nav-link {
        display: none;
    }

/*  Desktop screens  */
    @media screen and (min-width: 1024px) {
        
        /*  General Styles  */
        body {
            max-width: 950px;
            background-color: antiquewhite;
        }

        /*  Header Styles  */
        .top-nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;
            padding: 1rem 0;
            background-color: bisque;
        }
        header, 
        nav {
            padding: 0 1rem;
        }
        h1 {
            padding-left: 1.5rem;
        }
        #top {
            font-size: x-large;
        }

        /*  Main styles */
        .about {
            padding: 0 2rem 0 2rem;
        }
        .about-caption {
            margin-left: 0;
        }
        .portfolio-section {
            background-color: white;
        }
        .credentials-section {
            margin-top: 1rem;
            background-color: white;
        }
        .boxes {
            flex-basis: calc(33.333% - 1rem)
        }

        /*  Footer styles  */
        #contact p {
            padding: 0 6rem;
        }
    }
}  